* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem; }

main .stage[data-phase="select"] .player[data-alive="1"]:hover {
  background-color: #fcc;
  cursor: pointer; }

main .stage .party {
  margin-top: 50px; }
  main .stage .party .player {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    padding: 10px;
    float: left;
    border: 2px solid transparent; }
    main .stage .party .player.active {
      border-color: #f00; }
    main .stage .party .player[data-alive="0"] {
      background-color: #ccc; }
    main .stage .party .player h2 {
      font-size: 24px;
      font-size: 2.4rem; }
    main .stage .party .player .hp {
      font-size: 24px;
      font-size: 2.4rem; }
    main .stage .party .player .power {
      font-size: 16px;
      font-size: 1.6rem; }
  main .stage .party:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }
