@keyframes blink-red {
  0% {
    border-color: rgba(255, 0, 0, 1);
  }
  100% {
    border-color: rgba(255, 0, 0, 0);
  }
}

@keyframes blink-blue {
  0% {
    border-color: rgba(0, 0, 255, 1);
  }
  100% {
    border-color: rgba(0, 0, 255, 0);
  }
}
