body[data-page-id="golf"] {
  main {
    .stage {
      position: absolute;

      left: 0;
      top: px(50);

      // MAGIC NUMBER: 4つに区切る
      width: px(1000);

      margin-top: px(20);
    }
  }

  .card {
    position: relative;

    width: px(206);
    height: px(304);
    float: left;

    margin: px(10) px(10);

    padding: px(10);

    box-shadow: px(1) px(1) px(3) #ccc;

    background-color: #fff;

    transition: transform 0.2s ease-in 0s;

    border: px(4) solid transparent;

    &::after {
      content: "";

      position: absolute;

      left: px(-4);
      top: px(-4);

      width: px(206);
      height: px(304);

      border: px(2) solid;
    }

    &[data-active="1"] {
      &[data-party="0"] {
        animation: blink-blue 1s linear 0s infinite alternate;
      }
      &[data-party="1"] {
        animation: blink-red 1s linear 0s infinite alternate;
      }
    }

    &[data-attacking="1"] {
      transition: transform 0.2s ease-out 0s;
    }

    &[data-attacked="1"] {
      transform: scale(1.1);
      transition: transform 0.2s ease-out 0s;
    }

    &[data-alive="0"] {
      background-color: #ccc;
    }

    .hp {
      margin-top: px(5);
      font-size: px(14);
    }

    .map-hp {
      position: relative;

      width: px(181);
      height: px(181);

      background-image: url("../img/grid.png");
      background-size: cover;
      background-repeat: no-repeat;

      font-size: 0;

      &.center {
        position: absolute;

        left: px(80);
        top: px(80);

        width: px(19);
        height: px(19);

        background-color: #f99;

        border: 1px solid #ccc;
      }

      &::before {
        content: "";

        @extend .center;
      }

      .cur {
        position: absolute;

        width: px(21);
        height: px(21);
        border-radius: px(21);

        background-color: #000;

        transform: scale(0.5);
      }

      @for $x from -4 through 4 {
        &[data-hp-real="#{$x}"] {
          .cur {
            left: px(($x + 4) * 20);
          }
        }
      }

      @for $y from -4 through 4 {
        &[data-hp-imag="#{$y}"] {
          .cur {
            top: px((- $y + 4) * 20);
          }
        }
      }
    }
  }
}
