doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Imaginight
    link(rel='stylesheet', href=`css/style.css?${versions["style.css"]}`)
    link(href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre", rel="stylesheet")

  body
    .wrapper
      header
        h1.title(data-heading-level='1')
          | Imaginight
      main
        .container

    script(src="js/lib/jquery.min.js")
    script(src="js/lib/lodash.min.js")
    script(src="https://use.fontawesome.com/afa49e4fb3.js")

    script(src=`js/bundle.js?${versions["bundle.js"]}`)