* {
  box-sizing: border-box; }

html {
  font-size: 100px; }

body {
  font-size: 14px; }

.title {
  font-family: "Averia Serif Libre", cursive;
  font-size: 48px; }

main .stage {
  margin-top: 50px; }
  main .stage[data-phase="select"] .player:hover {
    background-color: #fcc;
    cursor: pointer; }
  main .stage .player[data-attacking="1"] {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  main .stage:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

.player {
  margin-left: 30px;
  padding: 10px;
  float: left;
  border: 2px solid transparent;
  transition: -webkit-transform 0.2s ease-in 0s;
  transition: transform 0.2s ease-in 0s;
  transition: transform 0.2s ease-in 0s, -webkit-transform 0.2s ease-in 0s; }
  .player[data-active="1"] {
    border-color: #f00; }
  .player[data-attacking="1"] {
    transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; }
  .player[data-attacked="1"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; }
  .player[data-alive="0"] {
    background-color: #ccc; }
  .player h2 {
    font-size: 24px;
    font-size: 0.24rem; }
  .player .hp {
    font-size: 24px;
    font-size: 0.24rem; }
  .player .power {
    font-size: 16px;
    font-size: 0.16rem; }
  .player .map-hp {
    position: relative;
    width: 181px;
    height: 181px;
    background-image: url("../img/grid.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0; }
    .player .map-hp.center, .player .map-hp:before {
      position: absolute;
      left: 80px;
      top: 80px;
      width: 19px;
      height: 19px;
      background-color: #f99;
      border: 1px solid #ccc; }
    .player .map-hp:before {
      content: ""; }
    .player .map-hp .cur {
      position: absolute;
      width: 21px;
      height: 21px;
      border-radius: 21px;
      background-color: #000;
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
    .player .map-hp[data-hp-real="-4"] .cur {
      left: 0px; }
    .player .map-hp[data-hp-real="-3"] .cur {
      left: 20px; }
    .player .map-hp[data-hp-real="-2"] .cur {
      left: 40px; }
    .player .map-hp[data-hp-real="-1"] .cur {
      left: 60px; }
    .player .map-hp[data-hp-real="0"] .cur {
      left: 80px; }
    .player .map-hp[data-hp-real="1"] .cur {
      left: 100px; }
    .player .map-hp[data-hp-real="2"] .cur {
      left: 120px; }
    .player .map-hp[data-hp-real="3"] .cur {
      left: 140px; }
    .player .map-hp[data-hp-real="4"] .cur {
      left: 160px; }
    .player .map-hp[data-hp-imag="-4"] .cur {
      top: 160px; }
    .player .map-hp[data-hp-imag="-3"] .cur {
      top: 140px; }
    .player .map-hp[data-hp-imag="-2"] .cur {
      top: 120px; }
    .player .map-hp[data-hp-imag="-1"] .cur {
      top: 100px; }
    .player .map-hp[data-hp-imag="0"] .cur {
      top: 80px; }
    .player .map-hp[data-hp-imag="1"] .cur {
      top: 60px; }
    .player .map-hp[data-hp-imag="2"] .cur {
      top: 40px; }
    .player .map-hp[data-hp-imag="3"] .cur {
      top: 20px; }
    .player .map-hp[data-hp-imag="4"] .cur {
      top: 0px; }
