* {
  box-sizing: border-box; }

html {
  font-size: 70px; }

body {
  font-size: 9.8px;
  font-size: 0.14rem; }

.title {
  margin: 0;
  font-family: "Averia Serif Libre", cursive;
  font-size: 33.6px;
  font-size: 0.48rem; }

main .stage {
  position: absolute;
  left: 0;
  top: 35px;
  top: 0.5rem;
  width: 700px;
  width: 10rem;
  margin-top: 14px;
  margin-top: 0.2rem; }
  main .stage[data-phase="select"] .player:hover {
    background-color: #fcc;
    cursor: pointer; }
  main .stage .player[data-attacking="1"] {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem); }
  main .stage:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

@-webkit-keyframes blink-red {
  0% {
    border-color: red; }
  100% {
    border-color: rgba(255, 0, 0, 0); } }

@keyframes blink-red {
  0% {
    border-color: red; }
  100% {
    border-color: rgba(255, 0, 0, 0); } }

@-webkit-keyframes blink-blue {
  0% {
    border-color: blue; }
  100% {
    border-color: rgba(0, 0, 255, 0); } }

@keyframes blink-blue {
  0% {
    border-color: blue; }
  100% {
    border-color: rgba(0, 0, 255, 0); } }

.player {
  position: relative;
  width: 144.2px;
  width: 2.06rem;
  height: 212.8px;
  height: 3.04rem;
  float: left;
  margin: 7px 7px;
  margin: 0.1rem 0.1rem;
  padding: 7px;
  padding: 0.1rem;
  box-shadow: 0.01rem 0.01rem 0.03rem #ccc;
  background-color: #fff;
  transition: -webkit-transform 0.2s ease-in 0s;
  transition: transform 0.2s ease-in 0s;
  transition: transform 0.2s ease-in 0s, -webkit-transform 0.2s ease-in 0s;
  border: 2.8px solid transparent;
  border: 0.04rem solid transparent; }
  .player:after {
    content: "";
    position: absolute;
    left: -2.8px;
    left: -0.04rem;
    top: -2.8px;
    top: -0.04rem;
    width: 144.2px;
    width: 2.06rem;
    height: 212.8px;
    height: 3.04rem;
    border: 1.4px solid;
    border: 0.02rem solid; }
  .player[data-party="0"]:after {
    border-color: #f99; }
  .player[data-party="1"]:after {
    border-color: #99f; }
  .player[data-active="1"][data-party="0"] {
    -webkit-animation: blink-red 1s linear 0s infinite alternate;
            animation: blink-red 1s linear 0s infinite alternate; }
  .player[data-active="1"][data-party="1"] {
    -webkit-animation: blink-blue 1s linear 0s infinite alternate;
            animation: blink-blue 1s linear 0s infinite alternate; }
  .player[data-attacking="1"] {
    transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; }
  .player[data-attacked="1"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    transition: -webkit-transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; }
  .player[data-alive="0"] {
    background-color: #ccc; }
  .player .name {
    margin: 0;
    font-size: 14px;
    font-size: 0.2rem; }
  .player .job {
    font-size: 8.4px;
    font-size: 0.12rem;
    font-weight: bold;
    color: #999; }
  .player .hp {
    margin-top: 3.5px;
    margin-top: 0.05rem;
    font-size: 9.8px;
    font-size: 0.14rem; }
  .player .special {
    font-size: 9.8px;
    font-size: 0.14rem; }
  .player .map-hp {
    position: relative;
    width: 126.7px;
    width: 1.81rem;
    height: 126.7px;
    height: 1.81rem;
    background-image: url("../img/grid.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0; }
    .player .map-hp.center, .player .map-hp:before {
      position: absolute;
      left: 56px;
      left: 0.8rem;
      top: 56px;
      top: 0.8rem;
      width: 13.3px;
      width: 0.19rem;
      height: 13.3px;
      height: 0.19rem;
      background-color: #f99;
      border: 1px solid #ccc; }
    .player .map-hp:before {
      content: ""; }
    .player .map-hp .cur {
      position: absolute;
      width: 14.7px;
      width: 0.21rem;
      height: 14.7px;
      height: 0.21rem;
      border-radius: 0.21rem;
      background-color: #000;
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
    .player .map-hp[data-hp-real="-4"] .cur {
      left: 0px;
      left: 0rem; }
    .player .map-hp[data-hp-real="-3"] .cur {
      left: 14px;
      left: 0.2rem; }
    .player .map-hp[data-hp-real="-2"] .cur {
      left: 28px;
      left: 0.4rem; }
    .player .map-hp[data-hp-real="-1"] .cur {
      left: 42px;
      left: 0.6rem; }
    .player .map-hp[data-hp-real="0"] .cur {
      left: 56px;
      left: 0.8rem; }
    .player .map-hp[data-hp-real="1"] .cur {
      left: 70px;
      left: 1rem; }
    .player .map-hp[data-hp-real="2"] .cur {
      left: 84px;
      left: 1.2rem; }
    .player .map-hp[data-hp-real="3"] .cur {
      left: 98px;
      left: 1.4rem; }
    .player .map-hp[data-hp-real="4"] .cur {
      left: 112px;
      left: 1.6rem; }
    .player .map-hp[data-hp-imag="-4"] .cur {
      top: 112px;
      top: 1.6rem; }
    .player .map-hp[data-hp-imag="-3"] .cur {
      top: 98px;
      top: 1.4rem; }
    .player .map-hp[data-hp-imag="-2"] .cur {
      top: 84px;
      top: 1.2rem; }
    .player .map-hp[data-hp-imag="-1"] .cur {
      top: 70px;
      top: 1rem; }
    .player .map-hp[data-hp-imag="0"] .cur {
      top: 56px;
      top: 0.8rem; }
    .player .map-hp[data-hp-imag="1"] .cur {
      top: 42px;
      top: 0.6rem; }
    .player .map-hp[data-hp-imag="2"] .cur {
      top: 28px;
      top: 0.4rem; }
    .player .map-hp[data-hp-imag="3"] .cur {
      top: 14px;
      top: 0.2rem; }
    .player .map-hp[data-hp-imag="4"] .cur {
      top: 0px;
      top: 0rem; }

.command-index {
  position: absolute;
  left: 644px;
  left: 9.2rem;
  top: 35px;
  top: 0.5rem; }
  .command-index .command + .command {
    margin-top: 7px;
    margin-top: 0.1rem; }
  .command-index .job {
    font-weight: bold;
    font-size: 11.2px;
    font-size: 0.16rem; }

.command-panel {
  position: absolute;
  left: 28px;
  left: 0.4rem;
  top: 504px;
  top: 7.2rem;
  width: 210px;
  width: 3rem; }
  .command-panel .left {
    position: absolute;
    left: 0px;
    left: 0rem;
    top: 21px;
    top: 0.3rem; }
  .command-panel .right {
    position: absolute;
    left: 84px;
    left: 1.2rem;
    top: 21px;
    top: 0.3rem; }
  .command-panel .down {
    position: absolute;
    left: 42px;
    left: 0.6rem;
    top: 42px;
    top: 0.6rem; }
  .command-panel .up {
    position: absolute;
    left: 42px;
    left: 0.6rem;
    top: 0px;
    top: 0rem; }
  .command-panel .restore {
    position: absolute;
    left: 42px;
    left: 0.6rem;
    top: 21px;
    top: 0.3rem; }
  .command-panel .special {
    position: absolute;
    left: 0;
    top: 70px;
    top: 1rem; }
  .command-panel .desc {
    position: absolute;
    left: 0;
    top: 91px;
    top: 1.3rem; }

.command-history {
  position: absolute;
  left: 280px;
  left: 4rem;
  top: 518px;
  top: 7.4rem; }
