doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Imaginight
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header
        h1(data-heading-level='1')
          | Imaginight
      main

    script(src='js/lib/hashaby.deco.js')
    script(src='js/main.js')
    script(src='js/index.js')