doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Imaginight
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      header
        h1(data-heading-level='1')
          | Imaginight
      main
        .unit
          .player(data-hp="4,0",  data-operation="+", data-power="1,0",  data-job="night"    )
          .player(data-hp="0,3",  data-operation="*", data-power="0,1",  data-job="magician" )
          .player(data-hp="-4,0", data-operation="+", data-power="1,0",  data-job="night"    )
          .player(data-hp="3,0",  data-operation="+", data-power="-1,0", data-job="healer"   )
        .unit
          .player(data-hp="4,0",  data-operation="+", data-power="1,0",  data-job="night"    )
          .player(data-hp="-4,0", data-operation="+", data-power="1,0",  data-job="night"    )
          .player(data-hp="0,2",  data-operation="*", data-power="0,1",  data-job="magician" )
          .player(data-hp="4,0",  data-operation="+", data-power="-1,0", data-job="healer"   )

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/lodash.min.js')
    script(src='js/main.js')