$base-font-size: 14px;

@function px($size) {
  @return #{$size / 100}rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100px;
}

body {
  font-size: $base-font-size;
}

main {
  .stage {
    &[data-phase="select"] {
      .player[data-alive="1"]:hover {
        background-color: #fcc;
        cursor: pointer;
      }
    }

    .party {
      margin-top: 50px;

      &:nth-child(1) {
        .player.attacking {
          transform: translateY(20px);
        }
      }
      &:nth-child(2) {
        .player.attacking {
          transform: translateY(-20px);
        }
      }

      // clearfix
      &:after {
        content: "."; 
        display: block; 
        height: 0; 
        font-size:0;  
        clear: both; 
        visibility:hidden;
      }
    }
  }
}

.player {
  width: 200px;
  // height: 200px;
  margin-left: 30px;
  padding: 10px;
  float: left;

  border: 2px solid transparent;

  transition: transform 0.2s ease-in 0s;

  &.active {
    border-color: #f00;
  }

  &.attacking {
    transition: transform 0.2s ease-out 0s;
  }

  &.attacked {
    transform: scale(1.1);
    transition: transform 0.2s ease-out 0s;
  }

  &[data-alive="0"] {
    background-color: #ccc;
  }

  h2 {
    font-size: px(24);
  }

  .hp {
    font-size: px(24);
  }

  .power {
    font-size: px(16);
  }

  .map-hp {
    position: relative;

    width: 181px;
    height: 181px;

    background-image: url("../img/grid.png");
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 0;

    &.center {
      position: absolute;

      left: 80px;
      top: 80px;

      width: 19px;
      height: 19px;

      background-color: #f99;

      border: 1px solid #ccc;
    }

    &::before {
      content: "";

      @extend .center;
    }

    .cur {
      position: absolute;

      width: 21px;
      height: 21px;
      border-radius: 21px;

      background-color: #000;

      transform: scale(0.5);
    }

    @for $x from -4 through 4 {
      &[data-hp-real="#{$x}"] {
        .cur {
          left: ($x + 4) * 20px;
        }
      }
    }

    @for $y from -4 through 4 {
      &[data-hp-imag="#{$y}"] {
        .cur {
          top: (- $y + 4) * 20px;
        }
      }
    }
  }
}
