* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

main {
  .stage {
    &[data-phase="select"] {
      .player[data-alive="1"]:hover {
        background-color: #fcc;
        cursor: pointer;
      }
    }

    .party {
      margin-top: 50px;

      &:nth-child(1) {
        .player.attacking {
          transform: translateY(20px);
        }
      }
      &:nth-child(2) {
        .player.attacking {
          transform: translateY(-20px);
        }
      }

      .player {
        width: 200px;
        // height: 200px;
        margin-left: 30px;
        padding: 10px;
        float: left;

        border: 2px solid transparent;

        transition: transform 0.2s ease-in 0s;

        &.active {
          border-color: #f00;
        }

        &.attacking {
          transition: transform 0.2s ease-out 0s;
        }

        &.attacked {
          transform: scale(1.1);
          transition: transform 0.2s ease-out 0s;
        }

        &[data-alive="0"] {
          background-color: #ccc;
        }

        h2 {
          font-size: 2.4rem;
        }

        .hp {
          font-size: 2.4rem;
        }

        .power {
          font-size: 1.6rem;
        }

        .map-hp {
          border-collapse: collapse;

          font-size: 0;

          .cell {
            position: relative;

            width: 20px;
            height: 20px;

            margin: 0;
            padding: 0;

            border: 1px solid #ccc;

            background-color: white;

            &[data-x="0"][data-y="0"] {
              background-color: #f99;
            }

            &.cur {
              &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 12px;
                height: 12px;
                margin-left: -6px;
                margin-top: -6px;
                border-radius: 12px;

                background-color: #666;
              }
            }
          }
        }
      }

      // clearfix
      &:after {
        content: "."; 
        display: block; 
        height: 0; 
        font-size:0;  
        clear: both; 
        visibility:hidden;
      }
    }
  }
}
