html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

main {
  .unit {
    margin-top: 50px;
    .player {
      width: 200px;
      float: left;

      h2 {
        font-size: 1.4rem;
      }

      .hp {
        font-size: 1.4rem;
      }

      .power {
        font-size: 1.0rem;
      }
    }

    // clearfix
    &:after {
      content: "."; 
      display: block; 
      height: 0; 
      font-size:0;  
      clear: both; 
      visibility:hidden;
    }
  }
}
